@font-face{
	font-family: clock;
	src: url('clockicons.ttf')
	format('truetype');
}
html, body{
	margin: 0px;
	height: 100%;
}
#div-main{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

#div-middle{
	background-color: green;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;	
	flex-direction: column;
}

.inside-main{
	border: 5px solid black;
	border-radius: 10px;
	text-align: center;
	margin: 10px;
}
#div-timer{
	display: flex;	
	justify-content: center;
	align-items: center;	
	border: 3px solid white;
	border-radius: 3px;
	height: 30%;
	width:55%;
}

.inside-timer{	
	height: 100%;
	font-size: 10vw;	
}

 #div-below{
	 height: 25%;
	 width: 55%;
	 display: flex;
	 flex-direction: column;
 }
 #div-button{
	 height: 20%;
	 width:100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
 }
 #div-rounds{
	 display: flex;
	 flex-direction: column;
	 max-height: 77%;
	 width: 100%;
	 border: 3px solid white;
	 border-radius: 3px;
 }

 #div-round-items{
	 display: flex;
	 flex-direction: column;
	 border: 3px solid white;
	 border-top-left-radius: 3px;
	 border-top-right-radius: 3px;
	 overflow-y: auto;
	 flex-wrap: wrap;
 }
 #start-button{
	 background-color: green;
	 color: white;
 }
  #stop-button{
	 background-color: red;
	 color: white;
 }
  #clear-button{
	 background-color: orange;
	 color: white;
 }
  #add-button{
	 background-color: green;
	 color: white;
 }
  #delete-button{
	 background-color: orange;
	 color: white;
 }

 #div-hours-value, #div-minutes-value, #div-seconds-value, #div-milliseconds-value{
	 font-family: clock;
 }
 #div-item{
	 font-family: clock;
	 font-size: 2vw;
	 max-height: 85%;
 }
 button{
	 font-size: 1.8vw;
 }
